.blog {
    margin: 50px 100px;
}
.card {
    border: none;
    position: static;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.dropdown:hover .dropdown-content {
    display: block;
  }
 

  .pagination-self{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,247,246);
  }
 ul {
    margin-bottom: none !important;
  }

  .pagination-self button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #F7F7F7;
  }

  .pagination-self li {

    list-style: none;
  }
  .pagition-item {
    margin: 5px;
  }
  .pagination-link {
    font-size:15px;
    display: inline-block;
    border-radius: 50%;
  }